# Tuple
- A tuple is just like a list of sequence of **immutable** it means unchangable python objects.
- The difference between list and tuple is that list are declared in square brackets and tuple can be changed while tuple is declared in parentheses and it can't be changed.
- syntax: tuple=()
- A tuple is creasted by placing all the items inside a parentheses(), separated by comma.

In [1]:
# creating a tuple
tup = (1,"hello",5.2)
type(tup)

tuple

In [2]:
tup[1]

'hello'

In [3]:
tup[0:2]

(1, 'hello')

In [9]:
x = (10,20,[30,40,70],50,60)
x[2]
#len(x)

[30, 40, 70]

In [10]:
x[2][0]

30

In [11]:
x[2][2]

70

In [12]:
# example of immutable
a = (1,2,3)
a[0]

1

In [13]:
a[0]=100

TypeError: 'tuple' object does not support item assignment

In [14]:
# example of mutable
b = [1,2,3]
b[0]=100

In [15]:
b

[100, 2, 3]

In [18]:
name="sudha"
age="25"
location="vijayawada"
details=(name,age,location)
details

('sudha', '25', 'vijayawada')

In [19]:
# comparing tuples
a=(5,6)
b=(1,4)
if (a>b):  # 5>1
    print("a is big")
else:
    print("b is big")

a is big

In [20]:
a=(5,6)
b=(8,4)
if (a>b): # 5>8
    print("a is big")
else:
    print("b is big")

b is big

In [21]:
a=(5,6)
b=(5,4)
if (a>b): #6>4
    print("a is big")
else:
    print("b is big")

a is big

In [22]:
tup

(1, 'hello', 5.2)

In [23]:
del tup

In [24]:
tup

NameError: name 'tup' is not defined

In [26]:
a=(5,6,7)
b=(5,6,7)
if (a>b): #6>4
    print("a is big")
elif(b>a):
    print("b is big")
else:
    print("equal")

equal

In [27]:
# tuple methods
x = ('A','P','S','S','D','C')
x.count('S')

2

In [28]:
x.count('A')

1

In [29]:
x.count('s')

0

In [30]:
x.index('P')

1

In [31]:
x.index('D')

4

In [56]:
# program to convert the given tuple into string
tup = ('P','Y','T','H','O','N')
string = ''.join(tup)
print(string)
type(string)

PYTHON

str

In [ ]:
# python program to print names in tuples using iterations.
# python program to print reverse the given elements in tuple.

# Sets
- sets are used to store the collection of data in python.
- it is unordered.
- it contains **unique** values.
- it is represented by {} or set().

In [32]:
sets = {1,2,3,1,2,3,4,5,6}
sets

{1, 2, 3, 4, 5, 6}

In [33]:
# methods of sets
set1 = {'abc',123,12,123,'abc'}
set2 = {'green','brown',125,150}
set1.update(set2)
set1

{12, 123, 125, 150, 'abc', 'brown', 'green'}

In [38]:
set1={1,10,11,20,21,30}
set2={10,20,30,40}
set3=set1.difference(set2)
set3
#set1

{1, 11, 21}

In [40]:
set1={1,10,11,20,21,30,31}
set2={8,9,10,20,30,40}
set1.difference_update(set2)
set1

{1, 11, 21, 31}

In [46]:
num1 = {1,2,3,4,5,6}
num2 = {2,4,8,9,1,7}
result= num1.intersection(num2)
result

{1, 2, 4}

In [47]:
num1 = {1,2,3,4,5,6}
num2 = {2,4,8,9,1,7}
num1.intersection_update(num2)
num1

{1, 2, 4}

In [48]:
colors = {"green","blue","white"}
games = {"puzzle","sudoku","ludo","white"}
result = colors.symmetric_difference(games)
print(result)

{'sudoku', 'ludo', 'puzzle', 'green', 'blue'}

In [50]:
colors = {"green","blue","white"}
games = {"puzzle","sudoku","ludo"}
colors.symmetric_difference_update(games)
colors

{'blue', 'green', 'ludo', 'puzzle', 'sudoku', 'white'}

In [52]:
num1={1,3,5,2}
num2 = {2,4}
result = num1.union(num2)
print(result)

{1, 2, 3, 4, 5}

In [53]:
colors = {"green","blue","white","yellow"}
colors.discard("white")
colors

{'blue', 'green', 'yellow'}