# Day Objectives

#### OPERATORS<br>

    F. Identity Operators ( is , is not )
    G. Membership Operators ( in , not in ) 
        
        
#### variable Features


#### variable assignments

  - single variable assignment
  - multiple variable assignment
  
  
#### Dynamic input reading

#### Conditional Statements

    - if
    - if else
    - if elif else
    - Nested if

#### Iterations

    - for
    - while
        * pass
        * break
        * continue

# Order List

1. jkhvcj
2. jfgvj
4. jfhjd

* ![](image_name.ex)

![](download.jpg)

[github](https://github.com/AP-Skill-Development-Corporation/Python-Team2-Students-13.07.2020)

# Unorder list

* cjbvhj
* jfhjkfh
    * fjgfj
    * kjfhgkj
        * kjfghkj
        * fgkjfhg

t = (1,2,34)   # 
d = {12:'sfd',23:'fg',54:'6767'}

In [9]:
val = 100
speed_of_light = 3*(10**8)

In [10]:
result = val* speed_of_light
result

30000000000

In [11]:
# Identity Operators ( is , is not )

True is False

False

In [12]:
123 is 321

False

In [62]:
val1

324

In [13]:
123 is 123   # compares object

True

In [14]:
123 == 123  # compares values

True

In [24]:
v = [1,2,4]
b = v
m = list(b)

print(id(v))
print(v,b,m)

2625188880776
[1, 2, 4] [1, 2, 4] [1, 2, 4]

In [20]:
id(b)

2625189060936

In [21]:
id(m)

2625189087688

In [26]:
v == b
v == m

True

In [28]:
v is b
v is m

False

In [29]:
v is not m

True

In [36]:
# Membership Operators ( in , not in ) 
'l' in  'lavanya'

True

In [33]:
'is' not in "he is good"

True

### variable FeaturesÂ¶

In [47]:
# do's
a = 100
a1 = 2000
_ = 'fdgf'
_13 = "fkg"
_ = "hjfbh"
a = 100
b = 100
num1 = 10
val2 = 56
s = 4*868
speed_light = 4657

In [ ]:
# don't
1 = 100
% = "kgh"
_% = "fgjhfxj"

### variable assignments
* single variable assignment
* multiple variable assignment

In [53]:
val = 1000   # single variable
num1,num2,num3 = 1
num2

TypeError: cannot unpack non-iterable int object

In [56]:
num1 = 3,4,5,6  # single variable 
type(num1)

tuple

In [60]:
num1,num2,num3 = 3.4,56.678,"456"  # multi variable 
num3

'456'

#### Dynamic input reading

In [66]:
val1 = 324   # static 
val1  = 5678
val1

5678

In [76]:
number = float(input("enter value of number "))   # default it return string
print(type(number))
print(number)

enter value of number 4356
<class 'float'>
4356.0

####  Conditional Statements
- if
- if else
- if elif else
- Nested if

c 

if condition 
{



}

if condition :
    statement1
    statement2
    .
    .
    .
    .

In [83]:
# Condition nothing but decision making


if 123335465767867 is 65756875 :
    print(True)
    
else:
    print(False)

False

In [84]:
if _:
    
    print('LOL')
    
else:
    
    print("Oops")

LOL

In [85]:
type(_)

str

In [87]:
if 12345:      # non - zero elements so condition is satify
    print('LOL')   
else:  
    print("Oops")

LOL

In [88]:
if 0:      #  zero elements so condition is satify
    print('LOL')   
else:  
    print("Oops")

Oops

In [91]:
if not 1 :      #  zero elements so condition is satify
    print('LOL')   
else:  
    print("Oops")

Oops

In [94]:
if ~ 0 :      #  zero elements so condition is satify
    print('LOL')   
else:  
    print("Oops")

LOL

In [95]:
if None :      #  non- weighted elements so condition is satify
    print('LOL')   
else:  
    print("Oops")

Oops

In [96]:
if not True :      #  zero elements so condition is satify
    print('LOL')   
else:  
    print("Oops")

Oops

In [100]:
a = int(input())
if a == 10 :      #  zero elements so condition is satify
    print('LOL')   
elif a < 10: 
    print("Oops")
    
else:
    print("Bad...!")

1
Oops

# Task

Levels of age group
0-12  -- childhood
13-19 -- teenage
20-45 -- young
45-99 -- old
100  -- congrats
>100 -- go to hell

3mints

In [102]:
age=int(input('enter age:'))
if 0<=age<=12:
    print('childhood')
elif 13<=age<=19:
    print('teenage')
elif 20<=age<=45:
    print('younge')
elif 45<=age<=99:
    print('old')
else:
    print('congrats')

enter age:101
congrats

In [105]:
age = int(input("enter age:"))
if 0 <= age <= 12 :
    print("childhood")
elif 13 <= age <= 19 :
    print("teenage")
elif 20 <= age <= 45 :
    print("young")
elif 46 <= age <= 99 :
    print("old")
else :
    print("congrats")

enter age:45
young

In [109]:
age=int(input("enter the age"))
if age<=12:
    print("childhood")
elif  age>=13 or  age<=19:
    print("teenage")
elif age>=20 or age<=45:
    print("young")
elif age>=46 or age<=90:
    print("old")
else:
    print("congrats")

enter the age-34
childhood

In [11]:
###### nested if
# example ceep  maths > 45 , p = >35 , eng = > 40 , che = > 30  ==    pass

math,eng,che,p = list(map(int,input().split()))
# math = int(input("enter math marks"))
# eng = int(input("enter english marks"))
# che = int(input("enter chemistry marks"))
# p = int(input("enter p marks"))

if math  >= 45 :
    print(math)
    if eng >= 40:
        if che >= 30:
            if p >= 35:
                print("Congrats.. Pass")
                
else:
    print("Fail")

35 67 89 100
Fail

In [10]:
list(map(int,input().split()))

1 2

[1, 2]

if True:
    statement1
    st2
    st3
    .
    .
    .
    
else:
    st5
    st5
    
    
    
if condition:
    st2 
    st4
    st5
    .
    .
elif condition:
    st5
    st7
    st8
    .
    .
    .
elif condition:
    st9
    st9
    
    
    
    
    
    
else:
    st5
    st8
    
    
if condition:
    if condition:
        if condition:
            st6
            st7
            st10

##### Iterations
- for
- while
    * pass
    * break
    * continue

In [13]:
print(1)
print(2)
print(3)
print(4)
.
.
.
.
.
.
print(10)

1
2
3
4
10

syntax : Loops : for and while
for Loop  : for var in range(condition)

In [32]:
for var in range(1,100,4):   # 
    print(var, end = ' ')

1 5 9 13 17 21 25 29 33 37 41 45 49 53 57 61 65 69 73 77 81 85 89 93 97

In [ ]:
range(start_val,end_val,step_val)   # start_val is always inclusive and end_val always excusive
# default step_val is one
for init;condition;inc/dec{
    
}

In [34]:
for val in range(10,1,-2):
    print(val)

10
8
6
4
2

In [37]:
string = "APSSDC"
for char in string:
    print(char, end = '  ')

A  P  S  S  D  C

In [38]:
string = [2,3,4,5,6,768]
for char in string:
    print(char, end = '  ')

2  3  4  5  6  768

# While
syntax 

init
while condition:
    sta1
    st3 
    st5
    st6
    inc/dec

In [39]:
val = 0
while val <= 10:
    print(val)
    val += 1

0
1
2
3
4
5
6
7
8
9
10

In [40]:
# Print even number in between 1 to 10 in reverse  order using while
val=10
while(val>=0):
    if(val%2==0):
        print(val)
    val -= 1

10
8
6
4
2
0

# Task:

* Design Basic Calculator

USe only 1 operator 2 operands