# Day Objectives

## MarkDown Syntax

* Order List
* Unorder List
* Link insert
* Image Insert

##  Python Basics

* How to check your Python version
* Comments in Python

* Data types

    A. int,float,bool<br>
    B. List,tuple,string,Dictionary, set
    

* variables 

* Type Casting

* **OPERATORS**

    A. Arithmetic Operators ( +,-,*,%,/,//,**)
    
    B. Assignment Operators ( =, +=, -=, *=, %=, /=, //=)
    
    C. Comparison operators ( ==, >=, <=, !=, >, < )
    
    D. Logical operators  ( and, or, not )
    
    E. Bitwise Operators ( &, |, ~, ^, >>, <<)
    
    F. Identity Operators ( is , is not )
    
    G. Membership Operators ( in , not in )

# Shortcuts
esc+m  -- > markdown     --- Docs
esc+y  -- > code mode    --- Coding
esc+r  -- > raw NB Convert  --- Notepad
esc+a  -- > For new cell at above
esc+b  -- > for new cell at below
esc+h  -- > Shortcuts

# Title
## SubTitle
#### mini Title
##### Mini Title

i am in *italic* style

i am in **Bold** 

i am in ***italic+Bold***

### Order List

1. abc
2. dsf
4. dfgf

1. abc
2. dsf
5. dfgf

### Unorder List

* 123
* 243
- 745
    * 4334
    - 6576
    * 8657
        * ghj
        * fjgk
        * jkfdg
            * jbfg
            * fkjg
            * gfh

### Syntax for insert an link
Hyper Link -- Type for link  & Link


[Student_register_link](http://engineering.apssdc.in/register)

# python program

## Insert image

![]()

## Insert Local Image 

#### Syntax :  ![](image_path)



![](download.jpg)

RAW NB CONVERT
# dkjfg
jdfhgd
4vnfv
cnvb
kjfhgkjh
685786579865
9867bvimgh

In [174]:
# How to check your Python version
import sys
sys.version

'3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]'

In [ ]:
# Comments in Python
# Single Line Comment
# Multi Line Comments
"""hfdghf
ghjfg
jfkjgf
fjkdgk"""

## Data types

A. int,float,bool

B. List,tuple,string,Dictionary, set   -- Iterables

In [6]:
a = 10
print(type(a))
b = 213.45
print(type(b))
c = 'fdg'
print(type(c))
d = True
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [13]:
s = "abc"  # init
s[0]
s[1]
s[2]
type(s)

str

In [14]:
l = [1,2,3,4,"dsf",456.45]
type(l)

list

In [20]:
d = dict()
d = {12:34,45:566}   # collection of keys,values
type(d)

dict

In [19]:
s  = set()
s = {1,2,3,4}
type(s)

set

In [22]:
t = (1,2,3,4,"fdg",34.5)
type(t)

tuple

# variables  -- it Holds any type data

In [23]:
val = 100
st = "string"
# size of memory depends on variables in code 

s = 'string'
type(s)

str

In [24]:
ss  = "string"
type(ss)

str

In [26]:
sss = """string"""
type(sss)

str

'h'  -- char

"hfh"  -- str

In [29]:
a = "123"
type(a)

str

In [30]:
'i know'

'i know'

In [32]:
'i don\'t know'

"i don't know"

In [33]:
" i don't know "

" i don't know "

In [34]:
"""   i am Lavanya """

'   i am Lavanya '

In [38]:
print("""   i am "Lavanya" """)

   i am "Lavanya"

## Type Casting

* Convert one datatype to other

In [49]:
# String to integer
a = "100"
print(type(a))
b = int(a)
print(type(b))


a = 100
print(type(a),a)
b = str(a)
print(type(b),b)


a = "s"
print(type(a),a)
b = int(a)
print(type(b),b)

<class 'str'>
<class 'int'>
<class 'int'> 100
<class 'str'> 100
<class 'str'> s

ValueError: invalid literal for int() with base 10: 's'

In [45]:
# float to int
a = 134.45
print(type(a),a)
b = int(a)
print(type(b),b)

<class 'float'> 134.45
<class 'int'> 134

In [50]:
"str"+"dsfjh"  # concat

'strdsfjh'

In [51]:
"3435"+"4354"

'34354354'

In [52]:
312+653

965

In [53]:
# int to float
a = 100
print(type(a),a)
b = float(a)
print(type(b),b)

<class 'int'> 100
<class 'float'> 100.0

In [57]:
"aatrs"+"3543"
"dsf"+3454

TypeError: can only concatenate str (not "int") to str

#### OPERATORS

A. Arithmetic Operators ( +,-,%,/,//,*)

B. Assignment Operators ( =, +=, -=, *=, %=, /=, //=)

C. Comparison operators ( ==, >=, <=, !=, >, < )

D. Logical operators ( and, or, not )

E. Bitwise Operators ( &, |, ~, ^, >>, <<)

F. Identity Operators ( is , is not )

G. Membership Operators ( in , not in )

In [61]:
456+576

1032

In [62]:
46587-456

46131

In [63]:
435%5

0

In [64]:
12/2

6.0

In [65]:
12//2

6

In [67]:
45/2

22.5

In [69]:
45//2  # float division returns interger part only

22

In [70]:
a = 10  # 10 assign to variable a
a = a+1 
a

11

In [71]:
a += 1
a

12

In [75]:
a -= 1
a

8

In [77]:
a *= 2
a

32

In [79]:
a += 1
a

33

In [80]:
a++

SyntaxError: invalid syntax (<ipython-input-80-22e3d6dc1353>, line 1)

In [92]:
# Comparison operators ( ==, >=, <=, !=, >, < )
print("a value is ",a)
print(a == 10)
print(a >= 10)
print(a <= 10)
print(a != 10)
print(a > 10)
print(a < 10)

a value is  33
False
True
False
True
True
False

In [ ]:
# Logical operators ( and, or, not )

Logical gates

n1  n2   and       or     not        ex-or
        (n1*n2) (n1+n2)  reverse
    
0   0    0         0       1           0   

0   1    0         1                   1

1   0    0         1                   1

1   1    1         1       0           0

In [93]:
True and True

True

In [94]:
True and False

False

In [95]:
False or False

False

In [96]:
False or True

True

In [97]:
not True

False

In [98]:
not False

True

In [99]:
12 and 34

34

In [100]:
12 and 3

3

In [101]:
8576 and 56

56

In [102]:
34 or 56

34

In [103]:
345 or 78

345

In [104]:
435 or 0

435

In [105]:
not 1

False

In [106]:
not 657

False

In [107]:
not 0

True

In [108]:
not -1

False

In [111]:
not (False and True)

True

In [112]:
# Bitwise Operators ( & -- and , |  -- or , ~  -- not , ^  -- exor , >> -- right shift, << -- left shift)

10 & 2

2

10 --- 1010
2  --- 0010
and -  0010  - 2
or  -  1010  - 10

In [113]:
10 | 2

10

In [162]:
#-(n+1)

~ 12   # -(12+1)

-13

In [165]:
~ -13   # -(-13+1)

12

In [173]:
12/2

6.0

In [114]:
~ 1

-2

In [122]:
~ -1  # -(-1+1)

0

In [116]:
~ 9

-10

In [123]:
~ -90  # -(-90+1)  --> -(-89)

89

In [118]:
~ 90

-91

In [121]:
# -(n+1)
-(1+1)

-2

In [130]:
12 ^ 2

# 12 -- 1100
# 2  -- 0010
# ^  -- 1110 -- 14

14

In [129]:
3 ^ 3

# 3 -- 011
# 3 -- 011
# ^ -  000

0

In [131]:
~ 2  # -(n+1)

-3

In [138]:
# >> right shift
12 >> 2     # float division by 2

# 12 - 1100
# 1  - 0110
# 2  - 0011

(12 // 2) //2

3

In [139]:
12 >> 1
12 // 2

6

In [142]:
12 >> 3

((12//2)//2)//2

1

In [144]:
12 >> 0

12

In [152]:
# Left shift
12 << 3  # mul by 2, 3 times
  
12*2*2*2

96

In [153]:
12 << 0

# 12 -- 1100
# 0 --  1100

12

In [ ]:
"""
## Task 
* Calculate speed of light * given data

"""

In [ ]:
n = 100
sl = formula
n*s1

In [159]:
v = """fdghh
 jdffgg"""
type(v)

str

In [158]:
""" jhgfh
jgdf
jfdhg """

' jhgfh\njgdf\njfdhg '