In [2]:
# List
# List Methods

In [ ]:
#  List  is a collection of elements
#  List elements are seperated by commas
#  Lists elements are enclosed with square brackets
# Lists are mutable i.e changeable

In [23]:
lis=[]

In [24]:
type(lis)

list

In [25]:
lis2=list()

In [26]:
lis2

[]

In [22]:
lis1=[1,2,3,4,5]

In [27]:
lis1

[1, 2, 3, 4, 5]

In [28]:
lis2=[10,'school',90.9]

In [29]:
lis2

[10, 'school', 90.9]

In [30]:
#forward indexing  #accessing 2nd element 

lis2[1]

'school'

In [31]:
lis2[0]

10

In [32]:
lis2[2]

90.9

In [33]:
lis2[3]

IndexError: list index out of range

In [34]:
#backward indexing or negative indexing

lis2

[10, 'school', 90.9]

In [35]:
lis2[-1]

90.9

In [36]:
lis2[-2]

'school'

In [37]:
lis2[-3]

10

In [38]:
lis3=[8,'*',9,'$']

In [39]:
lis3

[8, '*', 9, '$']

In [40]:
lis3[-4:-1]  #range of indexing    [inclusive:exclusive]

[8, '*', 9]

In [41]:
range(10)

range(0, 10)

In [42]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [43]:
lis3

[8, '*', 9, '$']

In [44]:
#changing list item values

lis3[1]=100

In [45]:
lis3

[8, 100, 9, '$']

In [46]:
#loop through list

for i in lis3:
    print(i)

8
100
9
$

In [47]:
len(lis3)  #length of a list

4

In [48]:
#check item existance

if '$' in lis3:
    print('true')

true

In [49]:
if 200 in lis3:
    print('true')
else:
    print('false')

false

In [53]:
#add items to a list

#append --> adds elements to end of the list

li=[100,200,300,7]

In [54]:
li.append(56)

In [55]:
li

[100, 200, 300, 7, 56]

In [56]:
li.append([34,78])

In [57]:
li

[100, 200, 300, 7, 56, [34, 78]]

In [69]:
# insert(index,itemvalue) element at specific index

li.insert(1,125)

In [70]:
li

[100, 125, 125, 125, 125, 200, 300, 7, 56, [34, 78]]

In [71]:
#remove element from a list

#remove()

li.remove(125)

In [66]:
li

[100, 125, 125, 200, 300, 7, 56, [34, 78]]

In [73]:
li.append([90,909])

In [79]:
#extend -> add one list elemts at the ending of another list

a=[10,20,30,40]
b=[50,60,70,80]

a.extend(b)

In [80]:
a

[10, 20, 30, 40, 50, 60, 70, 80]

In [81]:
#pop() --> by default removes last value from list
#or element at particular index

a.pop()

80

In [82]:
a.pop(2)

30

In [83]:
a

[10, 20, 40, 50, 60, 70]

In [84]:
a.pop(-1)

70

In [85]:
help(a.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [86]:
a

[10, 20, 40, 50, 60]

In [87]:
# del   -->to  delete list elements

del a[0]

In [88]:
a

[20, 40, 50, 60]

In [89]:
del a   # to remove complete list

In [90]:
a

NameError: name 'a' is not defined

In [91]:
b

[50, 60, 70, 80]

In [92]:
#clear - > empties the list    

b.clear()

In [93]:
b

[]

In [108]:
#copy()  --> to copy list elements from one list to another list

L1=[90,89,76]
L2=[7,1,2,3,5]
print(L1)
print(L2)
L2=L1.copy() #copying L1 elements into L2
print(L2)

[90, 89, 76]
[7, 1, 2, 3, 5]
[90, 89, 76]

In [109]:
L1=[90,89,76]
L2=[7,1,2,3,5]
print(L1)
print(L2)
L2.extend(L1) #copying L1 elements into L2
print(L2)

[90, 89, 76]
[7, 1, 2, 3, 5]
[7, 1, 2, 3, 5, 90, 89, 76]

In [97]:
L2

[90, 89, 76]

In [98]:
L2=list(L1)   #copying L1 elements into L2

In [99]:
L2

[90, 89, 76]

In [100]:
L3=[10,20]
L4=[30,40]

L3=L4

In [103]:
L3

[30, 40]

In [105]:
L4[0]=300

In [106]:
print(L3)
print(L4)

[300, 40]
[300, 40]

In [115]:
#Joining two lists or more lists using '+' concatenation operator

x=[200,900,89]
y=[90,78,67]
z=['*',76,45]

h=x+y+z

In [116]:
h

[200, 900, 89, 90, 78, 67, '*', 76, 45]

In [117]:
dir(h)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [118]:
h

[200, 900, 89, 90, 78, 67, '*', 76, 45]

In [119]:
h.append(900)

In [120]:
h

[200, 900, 89, 90, 78, 67, '*', 76, 45, 900]

In [122]:
#count( ) -->  frequency of particular elements inside a list

h.count(900)

2

In [126]:
h.index('*')  #to know the index of a particular element

3

In [127]:
a=[90,8,45]
print(a)
a.reverse()  # to reverse list elements 
print(a)

[90, 8, 45]
[45, 8, 90]

In [128]:
a

[45, 8, 90]

In [129]:
a.sort()  #bydefault sorts the elements in ascending order

In [130]:
a

[8, 45, 90]

In [133]:
a.sort(reverse=True)  # sort list elements in descending order
a

[90, 45, 8]