 ### Tuples and methods
 ### Sets and methods

In [3]:
# Tuple is a collection of objects
# tuples uses parenthesis
# tuples are immutable , i.e not changeable

In [4]:
#Advantages

# Tuples are immutable, iteration through tuple is fast compared to a list
# If you have data that doesn't change , implementing it as tuple will guarantee that it remains write-protectyed

In [6]:
# Creating a tuple

t=()

print(type(t))

<class 'tuple'>

In [17]:
t1=tuple()
print(type(t1))

<class 'tuple'>

In [18]:
a=(1,2,24)  # integer tuple

print(a)

(1, 2, 24)

In [19]:
b=(1,'welcome',90.9)   #tuple of different data types
print(b)

(1, 'welcome', 90.9)

In [20]:
# tuple packing

t = 1,'python', 90.9

print(t)
print(type(t))


x,y,z=t

print(x)
print(y)
print(z)
print(x+z)

(1, 'python', 90.9)
<class 'tuple'>
1
python
90.9
91.9

In [22]:
t=('hhh')  
print(type(t))

<class 'str'>

In [23]:
t=('hhh',)
print(type(t))

<class 'tuple'>

In [25]:
t1= 'hhh',

print(type(t1))

<class 'tuple'>

In [26]:
t=1,2,3

In [27]:
type(t)

tuple

In [32]:
t= 1

In [33]:
type(t)

int

In [34]:
t = 1,

In [35]:
type(t)

tuple

In [37]:
t = 'stri' ,

type(t)

tuple

In [38]:
# Accessing tuple elements

t=('p','y','t','h','o','n')
print(t[0])

p

In [39]:
print(t[3])

h

In [40]:
t[-1]  #backward indexing

'n'

In [41]:
t[-3]

'h'

In [42]:
#Nested  tuple 

t=(1,2,(3,4,5))
t

(1, 2, (3, 4, 5))

In [51]:
# nested tuple --> are accessed with nested indexing

t=('mouse',(1,3,5),(90,78,6))
t[0]

'mouse'

In [52]:
t[1]

(1, 3, 5)

In [53]:
t[2]

(90, 78, 6)

In [54]:
t[2][0]

90

In [55]:
t[2][1]

78

In [56]:
# Slicing --> we can access range of elements using slicing operator colon:

t=(10,20,30,40,50,160)

In [57]:
# Output --> 20,30,40

t[1:4]

(20, 30, 40)

In [58]:
t[:]

(10, 20, 30, 40, 50, 160)

In [63]:

t=(10,20,30,40,50,160,70,80,90)

In [66]:
#alternate elements   10,30,50  # odd numbers

print(t[0:5])
print(t[0:5:2])   # start, stop, step

(10, 20, 30, 40, 50)
(10, 30, 50)

In [67]:
t[::2]

(10, 30, 50, 70, 90)

In [76]:
# even numbers  20,40,160,80
t=(10,20,30,40,50,160,70,80,90)
t[1::2]

(20, 40, 160, 80)

In [81]:
# Average of all elements inside tuple

s=sum(t)
l=len(t)

avg=s/l
avg

61.111111111111114

In [82]:
#print elements in reverse order

t[::-1]

(90, 80, 70, 160, 50, 40, 30, 20, 10)

In [83]:
l=[1,2,3,4,5,8]
print(len(l))  #length
print(min(l))   # minimum 
print(max(l))  # maximum
print(sum(l))  # sum of list elements

6
1
8
23

In [87]:
l[1::2]

[2, 4, 8]

In [88]:
tt=(10, 20, 30, 40, 50, 160, 70, 80, 90)
print(len(tt))  #length
print(min(tt))   # minimum 
print(max(tt))  # maximum
print(sum(tt))  # sum of tuple elements

9
10
160
550

In [90]:
 # Changing elements inside tuple is not possible, but if element is a list , 
# its nested items can be changed


t=(1,2,(3,4,5))

In [92]:
t[2][0]=300   # immutable , not changeable

TypeError: 'tuple' object does not support item assignment

In [93]:
t=(1,2,[3,4,5])

In [94]:
t[2][0]=300

In [95]:
t

(1, 2, [300, 4, 5])

In [97]:
tuple1=(1,2,3,4,5)

In [98]:
tuple1[0]=100

TypeError: 'tuple' object does not support item assignment

In [99]:
#Concatenate operator '+'

t1=(1,2,3)
t2=(90,98,78)


t1+t2

(1, 2, 3, 90, 98, 78)

In [102]:
#Repeation operator '*'

t1*5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [103]:
#Deleting a tuple

del t1

In [104]:
t1

NameError: name 't1' is not defined

In [105]:
#Tuple methods , methods are not available to add or remove elements from tuple, bcz tuples are immutab;le

In [106]:
t=('keerthi','lavanya',100,78,76,100)

t.index('keerthi')   #index of a element

0

In [107]:
t.count(100)

2

In [108]:
# membership operator  --> in 

# existance of  a element in a given tuple

print('lavanya' in t)

True

In [109]:
print(250 in t)

False

In [112]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [116]:
l=[10,20,30,40,50]  #printing list elements

for ele in l:
    print(ele, end=" ")

10 20 30 40 50

In [117]:
for i in range(len(l)):  #printing index
    print(i,end=" ")

0 1 2 3 4

In [118]:
for i in range(len(l)):  #printing values
    print(l[i],end=" ")

10 20 30 40 50

In [119]:
# Iterating through tuple

for ele in t:
    print(ele,end =" ")

keerthi lavanya 100 78 76 100

In [120]:
for ele in t:
    print(ele, end=" ")

keerthi lavanya 100 78 76 100

In [121]:
# Sets

# A set is a unordered collection of items.
# Every set element must be unique(no duplicates)
# sets must be immutable

In [133]:
# Creating sets

s={1,2,3,4,5,6,5,3,2,1}
print(type(s))
s

<class 'set'>

{1, 2, 3, 4, 5, 6}

In [123]:
s1=set()
print(type(s1))

<class 'set'>

In [126]:
s2=set({19,8,9,78})
s2

{8, 9, 19, 78}

In [128]:
l=list([90,89,8,80])
l

[90, 89, 8, 80]

In [129]:
t=tuple((78,89))
t

(78, 89)

In [138]:
#since sets are unordered, we can't access or change an element of a set using indexing or slicing

s1={1,'hello',(10,20,30)}
print(s1)

{1, (10, 20, 30), 'hello'}

In [140]:
s1={1,'hello',(10,20,30),[90,8]}
s1

TypeError: unhashable type: 'list'

In [141]:
# add()   --> to add single element to a set

s1.add(1000)

In [142]:
s1

{(10, 20, 30), 1, 1000, 'hello'}

In [143]:
s1.add('kumari')
s1

{(10, 20, 30), 1, 1000, 'hello', 'kumari'}

In [144]:
#update()  --> to add multiple elements to a set i.e list,tuple,set


s1.update((101,102))

In [145]:
s1

{(10, 20, 30), 1, 1000, 101, 102, 'hello', 'kumari'}

In [146]:
s1.update({'sai','ram'})
s1

{(10, 20, 30), 1, 1000, 101, 102, 'hello', 'kumari', 'ram', 'sai'}

In [147]:
s1.update([10,89])

In [148]:
s1

{(10, 20, 30), 1, 10, 1000, 101, 102, 89, 'hello', 'kumari', 'ram', 'sai'}

In [151]:
dir(s1)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [152]:
s1={10.9,87,67,1}

sorted(s1)   # sorting

[1, 10.9, 67, 87]

In [154]:
sorted(s1,reverse=True)  # sorting in reverse order

[87, 67, 10.9, 1]

In [155]:
# discard an element
s={1,2,3,4,5}

s.discard(5)

In [156]:
s

{1, 2, 3, 4}

In [157]:
# removing an element

s={10,20,30,409}
s.remove(409)

In [158]:
s

{10, 20, 30}

In [161]:
#set of unique elements

s=set('python')
print(s)

{'y', 't', 'n', 'o', 'p', 'h'}

In [162]:
#Pop an set element

s.pop()

'y'

In [163]:
s.pop()

't'

In [164]:
# Clear a set
s.clear()

In [165]:
s

set()

In [168]:
# Set operations

A={1,2,3,4,5}
B={5,6,7,8,9,10}

A.union(B)  #all elements

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [169]:
A.intersection(B)   #Commom elements

{5}

In [178]:
help(s.pop)

Help on built-in function pop:

pop(...) method of builtins.set instance
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [173]:
s={1,2,3}
help(s.pop(2))

TypeError: pop() takes no arguments (1 given)

In [174]:
# Difference '-'
print(A)
print(B)

{1, 2, 3, 4, 5}
{5, 6, 7, 8, 9, 10}

In [175]:
A-B     #elements that are only A , but not in B

{1, 2, 3, 4}

In [176]:
B-A      #elements that are only B , but not in A

{6, 7, 8, 9, 10}

In [177]:
A.difference(B)

{1, 2, 3, 4}

In [180]:
#symmetric difference

print(A)
print(B)

A.symmetric_difference(B)     #Both sets elements , except common elements

{1, 2, 3, 4, 5}
{5, 6, 7, 8, 9, 10}

{1, 2, 3, 4, 6, 7, 8, 9, 10}

In [183]:
x={1,2,3}
y={8,9,19}

print(x)
print(y)

x=y.copy()   #copy

print(x)
print(y)

{1, 2, 3}
{8, 9, 19}
{8, 9, 19}
{8, 9, 19}

In [184]:
s1={1,2,3}
s2={1,2,3,4,5,6}

s1.issubset(s2)

True

In [185]:
s2.issuperset(s1)

True

In [187]:
c={1,2}
d={7,8,3,100}

print(c.isdisjoint(d))   #returns true if both sets have null intersection

True

In [188]:
print(7 in d) #membership

True

In [189]:
#Iterating a set

for i in c:
    print(i)

1
2

In [190]:
all(c) #returns true if all element of set is true, otherwise returns false

True

In [191]:
any(c) #returns true if any element of set is true, otherwise returns false

True

In [192]:
c.clear()  #to clear a set

In [193]:
d

{3, 7, 8, 100}

In [194]:
print(len(d))
print(min(d))
print(max(d))
print(sum(d))

4
3
100
118

In [195]:
d

{3, 7, 8, 100}

In [197]:
d.update([100,120,20])

In [198]:
d

{3, 7, 8, 20, 100, 120}

In [199]:
d.update((101,121,21))

In [200]:
d

{3, 7, 8, 20, 21, 100, 101, 120, 121}

In [211]:
l=[100,120,20]
t=(101,121,21,234)
tt=(90,8)

sss={1,2,3}

sss.update(l,t)

In [212]:
sss

{1, 2, 3, 20, 21, 100, 101, 120, 121, 234}

In [213]:
t=(91,2,3,4)
t

(91, 2, 3, 4)

In [214]:
print(t)

(91, 2, 3, 4)

In [215]:
print(len(t))

4

In [220]:
a={1}

any(a)

True

In [221]:
all(a)

True

In [225]:
help(any)

Help on built-in function any in module builtins:

any(iterable, /)
    Return True if bool(x) is True for any x in the iterable.

    If the iterable is empty, return False.

In [226]:
help(all)

Help on built-in function all in module builtins:

all(iterable, /)
    Return True if bool(x) is True for all values x in the iterable.

    If the iterable is empty, return True.

In [228]:
s1={1,2,3}
s2={4,5,6}

any(s2)

True

In [230]:
l={True,False,False}

any(l)  #returns true only any of iterable is true, returns false if set is empty

True

In [231]:
all(l)

False

In [234]:
l={1,2,3,4,0}

any(l)

True

In [235]:
all(l)

False